body {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);

    form {
        .title {
            text-align: center;
            font-weight: 800;
        }

        height: auto;
        width: auto;
        border-radius: 12px;
        background-color: var(--grey-400);

        padding: 14px 30px 28px;

        display: flex;
        gap: 22px;
        flex-direction: column;

        input {
            background-color: var(--grey-300);
            border: 1px solid var(--white);
            border-radius: 12px;
            padding: 6px 10px;
            color: var(--white);

            height: 34px;
            width: 250px;
        }

        .password-container {
            display: flex;
            justify-content: space-between;

            input {
                height: 34px;
                width: 120px;
            }
        }

        button {
            cursor: pointer;
            height: 34px;
            background-color: var(--green-500);

            border: 0;
            border-radius: 8px;
            color: var(--white);
            font-weight: 500;
            transition: 0.2s;

            &:hover {
                background-color: var(--green-400);
            }
        }
    }
}