.shadow {
    display: none;

    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 20;
    overflow-x: hidden;

    background-color: #000;
    opacity: 0.6;

    &.active {
        display: block;
    }
}

.modal {
    display: none;
    flex-direction: column;
    justify-content: center;
    max-width: 760px;

    position: absolute;
    height: fit-content;
    padding: 20px;
    border-radius: 8px;

    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    background-color: var(--grey-500);
    animation: fadein .5s;

    @keyframes fadein {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .start {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .close-icon {
            width: 36px;
            height: 36px;

            cursor: pointer;
        }
    }

    textarea {
        color: var(--white);
        margin: 20px 0;
        border: 1px solid var(--white);
        border-radius: 12px;
        padding: 12px;
        width: 100%;
        height: 160px;
        resize: none;
        background-color: var(--grey-500);
    }

    .buttons {
        display: flex;
        align-items: center;

        justify-content: space-between;
    }

    button {
        color: var(--white);
        padding: 8px;
        border: 0;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.2s;
        background-color: red;

        &:hover {
            opacity: 0.8;
        }

        &[type='submit'] {
            background-color: var(--green-400);
        }
    }

    &.open {
        display: block;
    }
}

#add-post-modal {
    .image-preview {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        position: relative;

        height: 180px;

        border: 1px solid var(--white);
        border-style: dashed;
        border-radius: 8px;
        padding: 20px;
        cursor: pointer;

        img {
            top: -2px;
            position: absolute;
            width: 100%;
            height: 182px;
            object-fit: cover;
            cursor: pointer;
            border-radius: 8px;
        }

        .image-icon {
            width: 60px;
            height: 60px;
        }
    }
}

#add-comment-modal {
    .comments {
        display: flex;
        gap: 20px;
        flex-direction: column;
        overflow-y: auto;
        padding: 10px 0;
        max-height: 40vh;
        min-width: 30vw;

        &::-webkit-scrollbar {
            width: 12px;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        }

        .comment {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            height: fit-content;
            background-color: var(--grey-400);
            border-radius: 12px;
            padding: 20px;

            .comment-start {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .user-infos {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                }

                .comment-created-at {
                    opacity: 0.4;
                    margin-bottom: 0.2rem;
                }
            }

            .comment-footer {
                display: flex;
                align-items: center;
                gap: 6px;

                .pencil-icon,
                .trash-icon {
                    cursor: pointer;
                    color: var(--white);
                    width: 16px;
                    height: 16px;
                    padding: 4px;
                    border-radius: 12px;
                    transition: 0.2s;

                    &:hover {
                        background-color: var(--grey-300);
                    }
                }
            }
        }
    }

    textarea {
        height: 80px;
    }
}

@media(max-width: 1225px) {

    #add-post-modal,
    #add-comment-modal {
        width: 60%;
    }
}

@media(max-width: 630px) {

    #add-post-modal,
    #add-comment-modal {
        width: 92%;
    }
}