body {
    color: var(--white);
}

header {
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .right-container {
            display: flex;
            align-items: center;
            gap: 30px;

            .add-post-btn {
                color: var(--white);
                font-weight: 500;
                font-size: 1rem;
                padding: 8px;
                border: 0;
                border-radius: 10px;
                background-color: var(--green-400);

                transition: 0.2s;
                cursor: pointer;

                &:hover {
                    background-color: var(--green-500);
                }
            }
        }

        .avatar {
            cursor: pointer;
        }

        .menu {
            position: absolute;
            top: 100px;
            right: 40px;

            background-color: var(--grey-500);
            height: fit-content;
            width: fit-content;
            padding: 10px;

            border-radius: 8px;
            box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);

            display: none;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 12px;

            &.active {
                display: flex;
            }

            &::before {
                content: '';
                position: absolute;
                top: -8px;
                right: 20px;
                width: 20px;
                height: 20px;
                background-color: var(--grey-500);
                transform: rotate(45deg);
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                border: 0;
                border-radius: 8px;

                height: 40px;
                width: 120px;

                cursor: pointer;
                transition: 0.2s;

                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }
}

#posts {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    margin: 40px 0;

    .post {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        border-radius: 12px;
        background-color: var(--grey-500);
        width: 36%;

        .post-start {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .user-infos {
                display: flex;
                align-items: center;
                gap: 20px;
            }

            .post-created-at {
                opacity: 0.4;
                margin-bottom: 0.2rem;
            }
        }

        img.post-image {
            border-radius: 8px;
            max-height: 400px;
            width: 100%;
            object-fit: cover;
        }
    }
}

.post-footer {
    display: flex;
    gap: 10px;

    div {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    ion-icon {
        width: 20px;
        height: 20px;
        cursor: pointer;

        color: var(--white);
    }

    .heart-icon {
        &.hearted {
            background-color: red;
        }
    }
}


@media(max-width: 1225px) {
    #posts {
        .post {
            width: 60%;
        }
    }
}

@media(max-width: 630px) {
    #posts {
        .post {
            width: 100%;
        }

        margin: 40px 30px;
    }
}